@@ -242,7 +242,7 @@ img.mailbox {
    text-align: right;
}

.pilknap input[type=text] {
.pilknap2 input[type=text] {
    float: left;
    border-left: hidden;
    border-right: hidden;
@ -250,6 +250,54 @@ img.mailbox {
    border-bottom-color: #6696ac;
    border-bottom-width: 1px;
    font-style: italic;
    background-color:#F6F6F6;
}

.pilknap2 {
    text-align: left;
    margin-bottom: -4px;
    border: 4px solid #c0bcbb;
    padding: 15px 10px;
    width:100%;
    background-color:#F6F6F6;
    font-size:16px;
}

.pilknap2 .box0 {
    float: left;
    width: 60%;
}

.pilknap2 .box1 {
    font-size: 10px;
    float: left;
    width: 17%;
    text-align: center;
    color: #c0bcbb;

} 
.pilknap2 .box2 {
    font-size: 10px;
    float: left;
    width: 17%;
    text-align: center;
    color: #D36D75;
}

.pilknap2 .box4 {
    font-size: 10px;
    float: left;
    width: 17%;
    text-align: center;
    color: #A6BB75;
}

.pilknap2 .box3 {
    font-size: 14px;
    float: left;
    width: 17%;
    text-align: center;
    color: #6696ac;
}

/* --------- BOX CONTENT  --------- */
@ -326,7 +374,6 @@ p.example {
}

.pages { /* Box that contains page numbers */
	position: fixed;
    bottom:4px;
    right:4px;
    left:4px;
@ -354,6 +401,7 @@ p.example {
    font-weight: bold;
}

<<<<<<< HEAD
/* Radio (Enig/Uenig) */

.eniguenig {
@ -365,8 +413,12 @@ p.example {
}

.pilknap #medarbejderlisten {
=======
.pilknap2 #medarbejderlisten {
>>>>>>> 996973be79ba548f90450faccd9835b4e838e589
    list-style-type: none;
    margin: -15px 0 0 0;
    background-color:white;
}

#medarbejderlisten li a {
@ -374,14 +426,11 @@ p.example {
    color: #484848;
    box-sizing: border-box;
    text-align: left;
    border: 4px solid #c0bcbb;
    padding: 15px 10px;
    width: 105%;
    background-color:white;
    font-size:16px;
    float: left;
    margin-left: -13px;
    margin-top: -4px;
}

/* MOBILE OR SMALLER SCREENS */