* {
    padding:0;
    margin:0;
    font-family: 'Roboto Mono', monospace;
}

body, html {
    max-height: 100%;
}

.clear {clear:both;}

.language {
    color:#515f6d;
    float:right;
    margin-bottom: 1%;
}

.language a {
    color:#515f6d;
    text-decoration: none;
}

.language a:hover {
    text-decoration: underline;
}

.container{
    height:100%;
    max-width: 750px;
    margin: 15% auto;
}

.logo {
    padding: 0 50px;
    float:left;
}

.loginbox {
    float:left;
    padding:0 50px;
    width: 310px;
}

.inputfield {
    box-sizing: border-box;
    width:100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 4px solid #c0bcbb;
    color: #484848;
}

.valid {
    color:green;
}

button {
    min-width:150px;
    box-sizing: border-box;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}

.greenbutton {
    font-weight: bold;
    background-color:#a6bb75;
    border:4px solid transparent;
    color:white;
}

.yellowbutton {
    border:4px solid #d8a55b;
    background-color:transparent;
    color:#484848;
}

button:hover {
    text-decoration: underline;
}

/* Når man er logget ind kommer man ind på leder.html, herunder er kode for dokument */


/* --------- Main boxes --------- */
.mainbox {
    margin: 4% auto 0;
    max-width: 1100px;
}

.leftbox {
    width: 49.5%;
    float: left;
}

.rightbox {
    width: 49.5%;
    float:right;
}

object {
    width:100%;
}

/* --------- Box headers --------- */

#header {
    background-color: #515f6d;
}

.profileheader {
    margin-bottom:4px;
    padding:25px 30px;
    height:52px;
}

.profileheader img {
    height:50px;
    vertical-align: middle;
}

.profileheader h1 {
    color: white;
    font-size: 24px;
}

span {
    color: white; 
}

.profileheader .left {
    float: left;
    width: 65%;
}

.profileheader .right {
    float: right;
    width: 35%;
}

img.mailbox {
    float:right;
    background-color: white;
}

.mailalert {
    background-color:#d26d75;
    box-sizing: border-box;
    float:right;
    margin:32px -70px -100px;
    border-radius: 200px;
    height:25px;
    width:25px;
    line-height: 25px;
    text-align: center;
    color:white;
    font-weight: bold;
}

/* ------ Different headers*/

.tilbageknap {
    color: white;
    text-decoration: none;
}

.tilbageknap:hover {
    text-decoration: underline;
}

#headercolor2 {
    background-color: #6696ac;
}

/* MUS - Page 1 */

#musheader {
    background-color: #a6bb75;
}

/* MUS - Page 2 */

#musheaderp2 {
    background-color: #aa81ac;
}

/* MUS - Page 3 */

#musheaderp3 {
    background-color: #d36d75;
}

/* MUS - Page 4 */

#musheaderp4 {
    background-color: #6696ac;
}

/* --------- Styling af knap --------- */

.pilknap {
    text-align: left;
    margin-bottom: -4px;
    border: 4px solid #c0bcbb;
    padding: 15px 10px;
    width:100%;
    background-color:white;
    font-size:16px;
}

.pilknap:hover {
    background-color: rgba(166,187,117,0.1);
    border:4px solid #A6BB75;
    position:relative;
    z-index:1;
}

.pilknap:hover .boxpil, .pilknap:hover .box0, .pilknap:hover .box1, .pilknap:hover .box2 {
    color:#a6bb75;
}

.pilknap .box0 {
    float: left;
    color: #6696ac;
    width: 60%;
}

.pilknap .box1, .pilknap .box2 {
    font-size: 10px;
    float: left;
    width: 17%;
    text-align: center;
    color: #c0bcbb;
}

.boxpil {
    float: right;
    font-size: 20px;
    color: #6696ac;
    width: 5%;
    text-align: right;
}

.pilknap input[type=text] {
    float: left;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
    border-bottom-color: #6696ac;
    border-bottom-width: 1px;
    font-style: italic;
    
}

/* --------- BOX CONTENT  --------- */

.goals {
    border: 4px solid #c0bcbb;
    margin: 8px 0 4px;
    padding: 10px 10px;
    color: #6696ac;
    height: 250px;
}

.bobble {
    width:50%;
    margin: 25%;
}

#contentbox { 
    position:absolute;
    bottom:0;
    top:106px;
    left:0;
    right:0;
    border: 4px solid #c0bcbb;
    padding:10px;
    overflow-y: scroll;
}

.yellowbox {
	font-size: 10px;
    border: 4px solid #d8a55a;
    padding:10px;
    margin-bottom:10px;
}

.checkbox {
    display:block;
    float:left;
    margin:3px 0;
}

.question {
    color:#484848;
    padding: 5px 0 8px;
}

.question label {
    float:left;
    display:block;
    margin:0 10px;
}

.question h2 {
    display:inline-block;
	font-size: 12px;
    font-weight: normal;
    max-width:450px;
}

.writeex { /* Write example */
	font-size: 11px;
    padding:3px;
	width: 300px;
    border:1px solid #c0bcbb;
}
	
p.example { 
	margin: 5px 0;
    color:#c0bcbb;
    font-size:9px;
    font-style: italic;
    max-width:450px;
}

.pages { /* Box that contains page numbers */
	position: fixed;
    bottom:4px;
    right:4px;
    left:4px;
    font-size: 12px;
    text-align: center;
}

.pages a { /* Link to next site*/
    display:inline-block;
    padding:8px;
    color:#484848;
    text-decoration: none;
    font-size:13px;
}

.pages a:hover {
    font-weight: bold;
}

/* MOBILE OR SMALLER SCREENS */

@media only screen and (max-width: 900px) {
    .mainbox {
        margin:0;
    }
    .leftbox, .rightbox {
        width:99%;
        margin:0.5% 0.5%;
    }
}