* {
    padding:0;
    margin:0;
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
}

body, html {
    min-height: 100%;
}

.clear {clear:both;}

.container{
    height:100%;
    max-width: 750px;
    margin: 15% auto;
}

.logo {
    padding: 0 50px;
    float:left;
}

.main {
    float:left;
    padding:0 50px;
    width: 310px;
}

.inputfield {
    box-sizing: border-box;
    width:100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 4px solid #c0bcbb;
    color: #484848;
}

.valid {
    color:green;
}

button {
    min-width:150px;
    box-sizing: border-box;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}

.greenbutton {
    font-weight: bold;
    background-color:#a6bb75;
    border:4px solid transparent;
    color:white;
}

.yellowbutton {
    border:4px solid #d8a55b;
    background-color:transparent;
    color:#484848;
}

button:hover {
    text-decoration: underline;
}